/*GENERAL*/
h1 {
    font-size: 1.2em; 
    font-style: italic;
    font-weight: 500;
    font-variant: normal;
}

figure p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    font: 300 100% "Roboto Mono",monospace;
    background-color: #e1e1f4;
}

#wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2%;
}

/*HEADER*/
.header {
    background-color: #e1e1f4;
    z-index: 3;
    margin-top: 30px;
    overflow: auto;
    text-align: center;
}

/*NAVIGATION*/
span {
    border-bottom: 1px solid #000;
}

.header ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header li {
    margin-bottom: 20px;
}

.header li a {
    display: block;
}

header li a:hover {
    color: #ff6200;
}

/*LOGO*/
#logo p {
    margin-top: 5px;
    margin-bottom: 30px;
}

#logo {
    text-align: center;
}

/*GALLERY*/
.columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 50%;
    -moz-column-width: 50%;
    column-width: 50%;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    margin: 0;
    padding: 0;
}

.columns li {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

#gallery img {
    max-width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    vertical-align: middle;
}

#gallery li {
    padding-bottom: 10px;
}

#gallery p {
    font-size: .75em;
    color: #fff;
    padding: 5%;
}

#gallery figure {
    position: relative;
    border-radius: 10px;
}

#gallery figcaption {
    width: 100%;
    text-align: center;
    background-color: #8A8AA7;
    opacity: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*FOOTER*/
#socialmedia {
    margin-bottom: 10px;
}

#socialmedia img {
    margin: 0 5px;
    display: inline-block;
}

footer {
    clear: both;
    margin: 30px 0;
    text-align: center;
    padding: 0;
    overflow: auto;
}

footer p {
    margin: 0;
}    

#copyright {
    margin: 0;
    padding: 0;
}

/*PROJECT LINKED PAGES FROM GALLERY*/
.project img {
    width: 100%;
    display: block;
}

.project p {
    font-size: .8em;
}

/*ABOUT PAGE*/
#profile-pic{
   border-radius: 50%;
   margin: 0 auto;
   display: block;
}

article p, article ul, article ol{
    font-size: .8em;
}

#process li {
    margin-bottom: 15px;
}

/*CONTACT PAGE*/
#contact-info p {
    font-size: .8em;
}

#secondary ul {
    list-style: none;
    padding: 0;
    font-size: .8em;
}

#secondary a {
    color: #ff6200;
}

/*RESPONSIVE MEDIA QUERIES 480PX AND ABOVE*/
@media screen and (min-width: 480px) {
    .header li:last-child {
        margin-bottom: 0;
    }

    .header .menu-icon {
        display: none;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header ul {
        text-decoration: none;
    }

    .header li {
        text-align: right;
    }

    .header li a {
        padding: 0 20px;
    }

    .menu {
        border-right: 1px solid #000;
    }

    span {
        border-bottom: 0;
    }

    #logo {
        float: left;
    }

    .columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-width: 33.333333333%;
        -moz-column-width: 33.333333333%;
        column-width: 33.333333333%;
        -webkit-column-gap: 10px;
        -moz-column-gap: 10px;
        column-gap: 10px;
    }

    /*FOOTER*/
    #socialmedia {
        padding-right: 0;
        float: right;
    }

    #copyright {
        float: left;
    }
    
    /*ABOUT PAGE*/
    #profile-pic {
        margin: 0;
    }    
    
    /*CONTACT PAGE*/
    #contact-info p {
        margin: 0;
    }

    #contact-info {
        max-width: 660px;
    }
}

/*RESPONSIVE MEDIA QUERIES 660PX AND ABOVE*/
@media screen and (min-width: 660px) {
    .header li {
        display: inline-block;
        border-right: 1px solid #000;
    }

    .header li a {
        padding: 0 30px;
    }

    .menu {
        border-right: 0;
    }

    #gallery li {
        padding-bottom: 0;
    }

    #gallery li a p {
        color: #fff;
    }

    #gallery figcaption {
        width: 100%;
        height: 100%;
        text-align: center;
        background: rgba(0,0,0,0.8);
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    #gallery figcaption:hover {
        opacity: 1;
        transition: 300ms;
    }

    #gallery img {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    #gallery figure {
        border-radius: 0;
        box-shadow: none;
    }

    .columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
        -webkit-column-width: 25%;
        -moz-column-width: 25%;
        column-width: 25%;
        -webkit-column-gap: 0;
        -moz-column-gap: 0;
        column-gap: 0;
    }

    .vert {
        display: table;
        width: 100%;
        height: 100%;
    }

    #gallery p {
        padding: 0;
        margin: 0;
        display: table-cell;
        vertical-align: middle;
    }

    /*PROJECT LINKED PAGES FROM GALLERY*/
    #sect_wrap {
        max-width: 660px;
        margin: 0 auto;
    }

    /*ABOUT PAGE*/
    #about {
        max-width: 660px;
    }    
    }